#nav {z-index:999999;}
.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    z-index:1001;
    vertical-align:top;
}
.toggleMenu {
    display:  none;
    background:rgba(70,81,81,0.5);
    padding: 10px 15px;
    color: #fff;
    width:100%;
    border:3px solid #6FA94B;
}
.toggleMenu:hover, .toggleMenu:active, .toggleMenu:focus{
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     z-index:1000;
	background:none;
	/* background:rgba(70,81,81,0.5); */
margin-top:-13px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 11em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;

}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid rgba(93,127,148,0);
}

.nav > li:hover {background:#6FA94B;} /* Hover styles */

.nav > li > a {
    display: block;
}

.nav li  ul {
    position: absolute;
    left: -9999px;
opacity:0;
transition: opacity 0.8s;
-moz-transition: opacity 0.8s; /* Firefox 4 */
-webkit-transition: opacity 0.8s;  /* Safari and Chrome */
-o-transition: opacity 0.8s; /* Opera */
}
.nav > li.hover > ul {
    left: 0;
opacity:1;
z-index:200;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
opacity:1;
}
.nav li li a {
    display: block;
    background: #333;
    position: relative;
   /* z-index:100;*/

}
.nav li li a:hover {
	background:#222;
-moz-box-shadow: inset 0 7px 4px -8px #000,inset 0 -7px 4px -8px #000;-webkit-box-shadow: inset 0 7px 4px -8px #000,inset 0 -7px 4px -8px #000;box-shadow: inset 0 7px 4px -8px #000,inset 0 -7px 4px -8px #000;
}
.nav li li li a {
    background:#333;

}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
    }
    .nav > li > .parent:hover {
        background-position: 95% 50%;
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
    }

    .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }


    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}


#topnav {
z-index:999;
width:100%;
-webkit-box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
-moz-box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
position:relative;

}

#topnav #logo a {
text-indent:-9999px;
background:url(../images/logo.png) no-repeat center;
display:block;
height:62px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
opacity:0.85;
}

#topnav #logo a:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
-webkit-transition:opacity,0.17s,linear;
-moz-transition:opacity,0.17s,linear;
-o-transition:opacity,0.17s,linear;
transition:opacity,0.17s,linear;
}


#topnav #buttonnav {
width:285px;
margin:0 auto;
}

#topnav #buttonnav li {
background-image:url(../images/topnav_bg.png);
background-repeat:no-repeat;
float:left;
color:#aaa;
font-size:11px;
text-transform:uppercase;
text-align:center;
width:90px;
margin:0 0 0 4px;
list-style:none;
position:relative;
}

#topnav #buttonnav li a {
color:#eee;
display:block;
padding:22px 0;
margin-bottom:1px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
opacity:0.7;
}

@media only screen and max-width 767px{
#topnav #buttonnav li a {
padding:12px 0;
}
}

#topnav #buttonnav li a:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
-webkit-transition:opacity,0.17s,linear;
-moz-transition:opacity,0.17s,linear;
-o-transition:opacity,0.17s,linear;
transition:opacity,0.17s,linear;
}

#topnav #buttonnav li#nav-top1 {
background-position:0 56px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top1 {
background-position:0 33px;
}
}

#topnav #buttonnav li#nav-top1.selected {
background-position:0 48px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top1.selected {
background-position:0 28px;
}
}

#topnav #buttonnav li#nav-top2 {
background-position:-130px 56px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top2 {
background-position:-130px 33px;
}
}

#topnav #buttonnav li#nav-top2.selected {
background-position:-130px 48px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top2.selected {
background-position:-130px 28px;
}
}

#topnav #buttonnav li#nav-top3 {
background-position:-260px 56px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top3 {
background-position:-260px 33px;
}
}

#topnav #buttonnav li#nav-top3.selected {
background-position:-260px 48px;
}

@media only screen and max-width 767px{
#topnav #buttonnav li#nav-top3.selected {
background-position:-260px 28px;
}
}

#topnav #buttonnav li.selected {
background-color:#111;
-webkit-box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
-moz-box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
}

#topnav #buttonnav li.selected a {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
}

#topnav #buttonnav li:hover {
-webkit-box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
-moz-box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
box-shadow:inset 0 0 12px 3px rgba(0,0,0,0.7);
-webkit-transition:0 .17s linear;
-moz-transition:0 .17s linear;
transition:box-shadow .17s linear;
}
